.login-page{ 
    width: 100vw;
    height: 100vh;
    padding: 2vh;
    background-color: #f25c54;
}

.header-ctn{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-ctn{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f7b267;
    height: 40vh;
    width: 35vw;
    margin: auto;
    margin-top: 10vh;
    border: 3px solid black;
    border-radius: 12px;
}

.login-form-ctn h3{ 
    margin: 2vh;
}
.login-form-ctn form .form-group{ 
    margin: 2vh 1vw;
}