<div>
  <h2>Create your Dog</h2>

  <form>
    <div class="form-group">
      <label for="name">Dog name: </label>
      <input
        [(ngModel)]="createdDog.name"
        name="name"
        id="name"
        type="text"
        class="form-control"
        required
      />
      <div class="alert alert-danger">Dog's name is required</div>
    </div>
    <div class="form-group">
      <label for="age">Dog Age: </label>
      <input
        [(ngModel)]="createdDog.age"
        name="age"
        id="age"
        type="number"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="breed">Dog breed: </label>
      <input
        [(ngModel)]="createdDog.breed"
        name="breed"
        id="breed"
        type="text"
        class="form-control"
      />
    </div>

    <button (click)="onDogCreate(createdDog)" class="btn btn-primary">Submit</button>
  </form>
</div>
