<div>
  <h2>Create your Dog</h2>

  <form>
    <div class="form-group">
      <label for="name">Dog name: </label>
      <input
        [(ngModel)]="createdDog.name"
        name="name"
        id="name"
        type="text"
        class="form-control"
        required
      />
      <!-- <div class="alert alert-danger">Dog's name is required</div> -->
    </div>
    <div class="form-group">
      <label for="age">Dog Age: </label>
      <input
        [(ngModel)]="createdDog.age"
        name="age"
        id="age"
        type="number"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="breed">Dog breed: </label>
      <input
        [(ngModel)]="createdDog.breed"
        name="breed"
        id="breed"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group">
        <!-- chose dropdown because checked boxes took too much time -->
      <label for="personality">Dog personality: </label>
      <select class="form-control" id="personality"  name="personality">
        <!-- [(ngModel)]="createdDog.personalityIds" -->
        <option>Choose personality that best describes your dog</option>
        <option *ngFor="let p of personalities" [value]="p.id" (click)="createdDog.personalityIds.push(p.id)">{{p.trait}}</option>
      </select>
    </div>

    <button (click)="onDogCreate(createdDog)" class="btn btn-primary">
      Submit
    </button>
  </form>
</div>
